/* --------- Removed Markers -------- */
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff ;
  font-size: 16px;
}
/* ------- Header Styles --------- */
.page-logo { 
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-color {
color: #2e2f42;
}
.menu-item {
background-color: #ffffff
}
.menu-link{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link-portfolio{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link-contacts{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus{
color: #404bbf;
}
.menu-link-portfolio:hover,
.menu-link-portfolio:focus{
color: #404bbf;
}
.menu-link-contacts:hover,
.menu-link-contacts:focus{
color: #404bbf;
}
.contact-block-item{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.contact-link{
color: #434455
}
.contact-header{
  font-style: normal;
}
.contact-link:hover,
.contact-link:focus{
  color: #404bbf 
}

/* --- Hero CTA Section styles --- */
.hero-section{
  background: #2e2f42;
}
.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.order-btn {
font-family: inherit;
font-size: inherit;
background: #4d5ae5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff
}

.order-btn:hover,
.order-btn:focus {
  background: #404bbf;
}
/* -------- Our services Styles -------- */
.service-block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.service-block-paragraph {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------------Our team section----------- */
.team-section {
  background: #f4f4fd;
}
.team-section-item {
  background-color: #ffffff
}
.team-section-titile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-item-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
background-color: #ffffff;
}

.team-item-paragraph{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* -------------- Our Portfolio ---------- */
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*---------Footer-------*/
.page-footer {
  background: #2e2f42;
}

.page-footer-logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#4d5ae5;
}
.footer-logo-color{
color: #f4f4fd;
}

.page-footer-paragraph{
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}